body{
    padding: 0px;
    margin: 0px;
    background: #FFEBEB;
    font-family: 'Bree Serif', serif;
    }
    
    .cabeçalho{
    margin: 0px;
    padding: 0px;
    background-color: #FF9E9E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FF0101;
    }
    
    .titulo-corpo{
    display: flex;
    justify-content: center;
    }
    
    .div-imagem-p1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    text-align: center;
    
    }
    
    .imagem-p1{
    width: 400px;
    }
    
    .p2-p3-p4-p5{
    display: block;
    font-size: 25px;
    align-items: center;
    padding: 20px;
    margin: 10px;
    text-align: center;
    }
    
    .imagem-body{
    width:800px;
    text-align: center;
    }
    
    .div-p6-p7-p8{
    display: block;
    font-size: 25px;
    align-items: center;
    padding: 20px;
    margin: 10px;
    text-align: center;
    }
    
    .footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #FF9E9E;
    color: #ffffff;
    left: 0px;
    height: 84px;
    }
