.cabeçalho{
    padding: 0px;
    margin: 0px;
    height: 250px;
    background-color: #ff9e9e;
    display: flex;
    align-items: center;
}
.titulo-corpo{
    display:center;
    justify-content: center;
}